@model AllProductsViewModel

<form method = "get">
    <div class = "row mb-5">
        <div class = "form-group col-md-4">
             <label asp-for="Search"></label>
             <input asp-for="Search" class="form-control" placeholder="PS4, Xbox One">
        </div>
    </div>
</form>


<div class = "row">
  @foreach(var product in Model.Products)
  {
    <div class="card" style="width: 18rem;">
    <img src="@product.PictureURL" class="card-img-top" alt="@product.Name - @product.Price (@product.ProductType")>
    <div class="card-body text-center">
    <h5 class="card-title text-center">@product.Name</h5>
    <p class="card-text">@product.Description</p>
    <a asp-controller="Product" asp-action= "Details" asp-route-id =@product.Id class="btn btn-primary">$@product.Price</a>
    <a asp-controller="Product" asp-action= "Edit" class="btn btn-warning">Edit</a>
    </div>
    </div>
  }
</div>